<div class="segmented-control">
  <a class="control-item active" href="#item1mobile">
    <%= @drug.drug_name %>
  </a>
  <a class="control-item" href="#item2mobile">
    <%= @drug.brand %>
  </a>
</div>
<div class="card">
  <span id="item1mobile" class="control-content active"><%= @drug.inidication.first.content %></span>
</div>

<nav class="bar bar-tab">
  <a class="tab-item active" href="home">
    <span class="glyphicon glyphicon-home"></span>
    <span class="tab-label">Home</span>
  </a>
  <a class="tab-item" href="/medicine">
    <span class="glyphicon glyphicon-tint"></span>
    <span class="tab-label">Medicine</span>
  </a>
  <a class="tab-item" href="#">
    <span class="icon icon-star-filled"></span>
    <span class="tab-label">Favorites</span>
  </a>
  <a class="tab-item" href="#">
    <span class="icon icon-search"></span>
    <span class="tab-label">Search</span>
  </a>
  <a class="tab-item" href="#">
    <span class="icon icon-gear"></span>
    <span class="tab-label">Settings</span>
  </a>
</nav>
