<header class="bar bar-nav">
  <button class="btn btn-link btn-nav pull-left">
    <span class="icon icon-left-nav"></span>
    <%= link_to "Back", :controller => "physician", :action => "index" %>
  </button>
           <% if notice %>
       <script language="JavaScript">
         alert("<%= notice %>");
        </script>
      <% end %>
  <h1 class="title">Title</h1>
</header>
<div class="content">
<ul class="table-view">
  <form action="/session/new" method="post">
    <input id="submit" type="submit" value="Start a Session!">
    <% for m in Medicine.all %>
    <li onclick="click_drug(this, id);" class="table-view-cell active">
        <%= m.drug_name%>
      <%= check_box_tag(m.id,m.id) %>
      </li>
    <% end %>
  </form>
</ul>
</div>

<nav class="bar bar-tab">
  <a class="tab-item active" href="/home">
    <span class="glyphicon glyphicon-home"></span>
    <span class="tab-label">Home</span>
  </a>
  <a class="tab-item" href="medicine">
    <span class="glyphicon glyphicon-list"></span>
    <span class="tab-label">Medicine List</span>
  </a>
  <a class="tab-item" href="#">
    <span class="icon icon-search"></span>
    <span class="tab-label">Search</span>
  </a>
</nav>
<script>
  function click_drug(el, id){
   inp = $(el).find("input");
   inp.prop("checked", !inp.prop("checked"));
  };

</script>
