<header class="bar bar-nav">
  <button class="btn btn-link btn-nav pull-left">
    <span class="icon icon-left-nav"></span>
    <%= link_to "Back", :controller => "physician", :action => "index" %>
  </button>
  <h1 class="title">Title</h1>
</header>
<div class="content">
<ul class="table-view">
  <% for m in Medicine.all %>
  <li class="table-view-cell">
    <a class="navigate-right" href=<%="/medicine/#{m.id}"%>>
      Drug <%= m.id%>
    </a>
    </li>
  <% end %>
</ul>
</div>

<nav class="bar bar-tab">
  <a class="tab-item active" href="home">
    <span class="glyphicon glyphicon-home"></span>
    <span class="tab-label">Home</span>
  </a>
  <a class="tab-item" href="medicine">
    <span class="glyphicon glyphicon-tint"></span>
    <span class="tab-label">Medicine</span>
  </a>
  <a class="tab-item" href="#">
    <span class="icon icon-star-filled"></span>
    <span class="tab-label">Favorites</span>
  </a>
  <a class="tab-item" href="#">
    <span class="icon icon-search"></span>
    <span class="tab-label">Search</span>
  </a>
  <a class="tab-item" href="#">
    <span class="icon icon-gear"></span>
    <span class="tab-label">Settings</span>
  </a>
</nav>
